@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #101010;
    color: #ffffff;
}

.landingPage-main {
    /* THE NEW PODCAST 3.0 */

    position: absolute;
    left: 3.71%;
    right: 49.22%;
    top: 25.55%;
    bottom: 57.73%;

    /* font-family: "Montserrat"; */
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;

    color: #ffffff;
}

.landingPage-sub {
    /* Join us in the new journey where we decentralize the podcast industry */

    position: absolute;
    left: 3.71%;
    right: 49.08%;
    top: 44.23%;
    bottom: 47.31%;
    padding-top: 1em;

    /* font-family: "Montserrat"; */
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 43px;

    color: #ffffff;
}

.primary-btn {
    /* Rectangle 9 */

    box-sizing: border-box;

    /* position: absolute; */
    width: 119.85px;
    height: 57.41px;
    left: 681.89px;
    top: 36px;

    background: #ffffff;
    border-radius: 22px;
    color: #000000;
}

.secondary-btn {
    /* Rectangle 9 */

    box-sizing: border-box;

    /* position: absolute; */
    width: 122.87px;
    height: 57.41px;
    left: 833.97px;
    top: 36px;

    border: 1.5px solid #ffffff;
    border-radius: 22px;
}

.bHfmdT {
    box-sizing: border-box;

    /* position: absolute; */
    /* width: 122.87px !important; */
    height: 57.41px !important;
    left: 833.97px !important;
    top: 36px !important;

    border: 1.5px solid #ffffff !important;
    border-radius: 22px !important;
    background: none !important;
    font-size: auto !important;
}

.secondPart-Primary {
    /* Dont Miss Out! */

    font-family: "Roc Grotesk";
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 101px;
    /* identical to box height */

    color: #ffffff;
}

.secondPart-Secondary {
    /* Join us in the new journey. */

    position: relative;
    /* left: 12.22%;
    right: 40.9%; */
    /* top: 21.97%; */
    bottom: 74.02%;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 41px;
    /* identical to box height */

    color: #ffffff;
}

.secondPart-primary-btn {
    /* Rectangle 324 */

    position: absolute;
    background: #ffffff;
    color: #000000;
}

.thirdPart-Primary {
    /* Our Perks */

    position: relative;
    /* left: 7.15%;
    right: 67.57%;
    top: 35.74%;
    bottom: 55.96%; */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;

    color: #ffffff;
}

.thirdPart-Secondary {
    /* Perks for Podcasters */

    position: relative;
    /* left: 10.17%;
    right: 62.81%;
    top: 50.2%;
    bottom: 45.61%; */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 43px;
    /* identical to box height */

    color: #ffffff;
}

.thirdPart-Thirdly {
    /* Perks for Podcast Lovers */

    position: relative;
    /* left: 10.21%;
    right: 59.31%;
    top: 59.18%;
    bottom: 36.62%; */

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 43px;
    /* identical to box height */

    color: #ffffff;
}

.fourthPart-Primary {
    /* Never miss a podcast */

    /* position: absolute; */
    /* left: 23.06%;
    right: 23.12%;
    top: 27.34%;
    bottom: 52.15%; */

    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 105px;
    /* identical to box height */

    color: #ffffff;
}

.fourthPart-input {
    /* Rectangle 9 */

    box-sizing: border-box;

    /* position: absolute;
    left: 27.92%;
    right: 42.36%;
    top: 82.74%;
    bottom: 15.94%; */

    border: 1.5px solid #ffffff;
    border-radius: 22px;
}

.footer-hr {
    /* Vector 861 */

    border: 0.5px solid #ffffff;
}

/* page create */

.leftPanel {
    /* Rectangle 342 */

    position: relative;
    width: 400px;
    height: 500px;

    background: #000000;
    border-radius: 22px;
}

.rightPanel {
    /* Rectangle 330 */

    box-sizing: border-box;

    position: relative;

    background: #000000;
    border-radius: 22px;
}
.primaryTxt {
    /* Upload Form */

    position: relative;

    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    /* identical to box height */

    color: #ffffff;
}

.inputTxt {
    /* Rectangle 9 */

    box-sizing: border-box;

    background: #0d0d0d;
    border-radius: 12px;
}

.MuiInputBase-input {
    color: white;
}

.uploader {
    /* Rectangle 331 */
    max-width: 1500px !important;

    box-sizing: border-box !important;
    border: #000000 !important;
    background: #0d0d0d !important;
    border-radius: 22px !important;
    place-items: center !important;
    /* height: 200px !important; */

    display: flex !important;
    cursor: pointer;
}

.fileUploader {
    display: flex !important;
    margin: 2.5em !important;
}
.submit-btn {
    /* Rectangle 341 */

    box-sizing: border-box !important;
    height: 62px !important;
    color: white !important;
    background: #7144ff !important;
    border-radius: 12px !important;
}

.powerdBy {
    /* Powered By: */

    position: relative;

    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 105px;
    /* identical to box height */

    color: #ffffff;
}

.auctionInputs {
    /* Rectangle 363 */

    box-sizing: border-box;
    position: relative;
    border: 0.5px solid rgba(255, 255, 255, 0.5);
}

.auctionInputs:hover {
    /* Rectangle 363 */
    background-color: "#ffffff" !important;
    color: "#ffffff" !important;
}

.startAuc-btn {
    /* Rectangle 316 */

    background: #ffffff !important;
    border-radius: 12px !important;
    color: #000000 !important;
    padding: 10px !important;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    background: #000000 !important;
    background-color: #000000 !important;
}

.css-uhb5lp {
    background: #000000 !important;
    background-color: #000000 !important;
}
